@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Nunito:wght@300&family=Raleway:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

.grad-neonred {
  background: rgb(104, 104, 104);
  background: linear-gradient(
    90deg,
    rgba(104, 104, 104, 1) -50.03%,
    rgba(0, 0, 0, 1) 38.03%,
    rgba(0, 0, 0, 1) 69.07%,
    rgba(161, 70, 70, 1) 131%
  );
}

.text-grad {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.8) 35.51%,
    rgba(133, 16, 188, 0.8) 74.29%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-text-grad {
  background: linear-gradient(
    90deg,
    #3da4bb 0%,
    #51049f 34%,
    #2d069a 56%,
    #920c8c 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

*::-webkit-scrollbar {
  display: none;
}
