@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Nunito:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

.grad-neonred {
  background: var(
    --neon-red,
    linear-gradient(
      90deg,
      #686868 -18.03%,
      rgba(0, 0, 0, 0.68) 50.03%,
      rgba(0, 0, 0, 0.73) 69.07%,
      #a14646 131.73%
    ),
    #252525
  );
}

*::-webkit-scrollbar {
  display: none;
}
